body {
	background-image: url(photos/starcraftcat.jpeg);
	background-repeat: no-repeat;
	background-color: lightblue;
	text-align: center;
	background-position: center;
	background-size: 100%;
}

#headerwrapper {
	text-align: left;
	background-color: green;
	margin-top: -20;
}

#bodywrapper {
	text-align: center;
	background-color: pink;
}

#footerwrapper {
	text-align: right;
	background-color: orange;
}